!!!5
head
  meta(charset='utf8')
  title nodejs-static-app
  link(rel='stylesheet', href='style')
body
  h1 nodejs-static-app
  #root This should be replaced by the loaded script.
  script(src='script')
